.section {
    padding: 3rem 1.5rem;
}

.contentsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.contentimg {
    max-height: calc(100% - 60%);
    max-width: calc(100% - 60%);
    border-radius: 10px;
    margin: 0 2vw;
}

.contentsep {
    margin: 0 2vw;
    min-width: 350px;
    max-width: 760px;
}

.contentsep h1 {
    color: #4A4A4A;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 15px 0;
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.contentsep h2 {
    color: #4A4A4A;
    font-size: 1.6rem;
    font-weight: 400;
}
.tarjeta {
    min-width: 350px;
    max-width: 760px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
}