<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/icon.png">
    <title>Página Principal</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!--Barra Superior-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light select-none">
        <nav class="">
            <!--<a class="navbar-brand" href="/">
                 <img src="icon.jpg" width="60" height="60" alt="" />
             </a>-->
        </nav>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <!--Principio barra-->

                <!--Principal-->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Principal 🏠<span class="sr-only">(current)</span></a>
                </li>
                <!--Lista de maquinas-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nuestros Equipos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">wooting 60he</a>
                        <a class="dropdown-item" href="#">idk</a>
                        <a class="dropdown-item" href="#">idk</a>
                        <a class="dropdown-item" href="#">idk</a>
                    </div>
                </li>
                <!--Otros servicios-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Otros Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Switches</a>
                        <a class="dropdown-item disabled" href="">Laburo</a>
                    </div>
                </li>
                <!--Sobre nosotros-->
                <li class="nav-item">
                    <a class="nav-link" href="about">Sobre Nosotros ℹ️</a>
                </li>
                <!--Contactanos-->
                <li class="nav-item ">
                    <a class="nav-link" href="contactanos">Contactanos 💬</a>
                </li>
                <!--Fin barra-->
            </ul>
        </div>
    </nav>
</head>