<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
</head>

<body>
    <!--animate__zoomIn animate__fadeInUp animate__bounceInUp animate__backInUp-->

    <section class="section animate__animated animate__zoomIn">
        <!--section animate__animated animate__backInUp-->
        <!--main-->
        <div class="contentsection select-none">
            <div class="contentdiv">
                <div class="contentsep">
                    <h1 style="font-size: 5.5rem;">titulo generico</h1>
                    <h2 style="font-size: 3ch;">logan generico</h2>
                </div>
                <img src="https://i.imgur.com/VcOHd91.png" style="max-height: 1000px;" class="contentimg" alt="">
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
        <!--Fin main-->
        <div class="contentsection">
            <!--sits-->
            <div class="contentdiv">
                <div class="contentsep">
                    <h1>titulo 1<!-- <span class="badge badge-secondary">New</span> --></h1>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iusto fugit ea iste cum numquam
                        placeat quis tempore officia expedita amet, enim modi eveniet dicta a natus magni repellendus
                        atque unde perferendis magnam. Ratione perspiciatis
                        illo deserunt placeat nam ad mollitia, error saepe hic nostrum atque iure sequi incidunt
                        laboriosam.<br><br><a class="btn btn-primary btn-lg" href="#" role="button">Analizar</a></h2>

                </div>
                <img src="https://i.imgur.com/McoTzRa.png" style="max-height: 450px;" class="contentimg" alt="">
            </div>

            <!--en13-->
            <div class="contentdiv">
                <img src="https://i.imgur.com/aK1Qcuh.png" style="max-height: 450px;" class="contentimg" alt="">
                <div class="contentsep">
                    <h1>titulo 2</h1>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iusto fugit ea iste cum numquam
                        placeat quis tempore officia expedita amet, enim modi eveniet dicta a natus magni repellendus
                        atque unde perferendis magnam. Ratione perspiciatis
                        illo deserunt placeat nam ad mollitia, error saepe hic nostrum atque iure sequi incidunt
                        laboriosam.<br><br><a class="btn btn-primary btn-lg" href="#" role="button">Analizar</a></h2>
                </div>
            </div>
            <!--himfu-->
            <div class="contentdiv">
                <div class="contentsep">
                    <h1>titulo 3</h1>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iusto fugit ea iste cum numquam
                        placeat quis tempore officia expedita amet, enim modi eveniet dicta a natus magni repellendus
                        atque unde perferendis magnam. Ratione perspiciatis
                        illo deserunt placeat nam ad mollitia, error saepe hic nostrum atque iure sequi incidunt
                        laboriosam.<br><br><a class="btn btn-primary btn-lg" href="#" role="button">Analizar</a></h2>
                </div>
                <img src="https://i.imgur.com/VcOHd91.pngp" style="max-height: 450px;" class="contentimg" alt="">
            </div>
        </div>
    </section>
</body>

</html>